/build/classes/kotlin/main/CollectionOperationsExampleKt.class
/.gradle/7.3.3/executionHistory/executionHistory.bin
/.gradle/file-system.probe
/.gradle/7.3.3/fileHashes/fileHashes.bin
/.gradle/7.3.3/dependencies-accessors/gc.properties
/.gradle/7.3.3/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/7.3.3/fileChanges/last-build.bin
/build/classes/kotlin/main/MapExerciseKt.class
/build/classes/kotlin/main/SetKt.class
