/build/classes/kotlin/main/CollectionOperationsExampleKt.class
/.gradle/7.3.3/executionHistory/executionHistory.bin
/.gradle/file-system.probe
/.gradle/7.3.3/fileHashes/fileHashes.bin
/.gradle/7.3.3/dependencies-accessors/gc.properties
/.gradle/7.3.3/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/7.3.3/fileChanges/last-build.bin
/build/classes/kotlin/main/MapExerciseKt.class
/build/classes/kotlin/main/SetKt.class
/build/classes/kotlin/main/FunctionIntroKt.class
/build/classes/kotlin/main/SequencesExerciseKt$main$1.class
/build/classes/kotlin/main/SequencesExerciseKt$main$2.class
/build/classes/kotlin/main/SequencesExerciseKt$main$sequenceNumber$1.class
/build/classes/kotlin/main/SequencesExerciseKt.class
/build/classes/kotlin/main/FunctionExtensionExerciseKt.class
/build/classes/kotlin/main/FunctionPropertiesExerciseKt.class
/build/classes/kotlin/main/HighOrderFunctionKt$multiple$1.class
/build/classes/kotlin/main/HighOrderFunctionKt.class
/build/classes/kotlin/main/LambdaArgumentKt.class
/build/classes/kotlin/main/LambdaIntroKt$message$1.class
/build/classes/kotlin/main/LambdaIntroKt$messageLength$1.class
/build/classes/kotlin/main/LambdaIntroKt$printMessage$1.class
/build/classes/kotlin/main/LambdaIntroKt.class
/build/classes/kotlin/main/LambdaWithReceiverKt.class
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values
/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.s
/build/classes/kotlin/main/MemberReferencesKt.class
/build/classes/kotlin/main/NullableReceiverIntroKt.class
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values
/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.s
/build/classes/kotlin/main/ScopeFunctionWithLambdaArgumentKt.class
/build/classes/kotlin/main/ScopeFunctionWithLambdaReceiverKt.class
/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values
/build/kotlin/compileKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.s
/build/classes/kotlin/main/VarArgIntroKt.class
/build/classes/kotlin/main/DropIntroKt.class
/build/classes/kotlin/main/FoldIntroKt.class
/build/classes/kotlin/main/FunctionInsideFunctionKt.class
/build/classes/kotlin/main/FunctionReferencesKt.class
/build/classes/kotlin/main/TakeIntroKt.class
